apiVersion: v1
kind: Template
metadata:
  name: hypershift-dataplane-metrics-forwarder-template
parameters:
  - name: REGISTRY_IMG
    required: true
  - name: IMAGE_DIGEST
    required: true
objects:
  - apiVersion: hive.openshift.io/v1
    kind: SelectorSyncSet
    metadata:
      name: dataplane-metrics-forwarder-hcp-policy
    spec:
      clusterDeploymentSelector:
        matchLabels:
          ext-hypershift.openshift.io/cluster-type: service-cluster
      resourceApplyMode: Sync
      resources:
        - apiVersion: policy.open-cluster-management.io/v1
          kind: Policy
          metadata:
            annotations:
              policy.open-cluster-management.io/categories: CM Configuration Management
              policy.open-cluster-management.io/controls: CM-2 Baseline Configuration
              policy.open-cluster-management.io/standards: NIST SP 800-53
            name: metrics-forwarder
            namespace: openshift-acm-policies
          spec:
            disabled: false
            remediationAction: enforce
            policy-templates:
              - objectDefinition:
                  apiVersion: policy.open-cluster-management.io/v1
                  kind: ConfigurationPolicy
                  metadata:
                    name: metrics-forwarder
                  spec:
                    evaluationInterval:
                      compliant: 2h
                      noncompliant: 45s
                    namespaceSelector:
                      matchLabels:
                        hypershift.openshift.io/hosted-control-plane: "true"
                    object-templates:
                      - complianceType: MustHave
                        objectDefinition:
                          apiVersion: package-operator.run/v1alpha1
                          kind: Package
                          metadata:
                            name: metrics-forwarder
                          spec:
                            image: ${REGISTRY_IMG}@${IMAGE_DIGEST}
        - apiVersion: apps.open-cluster-management.io/v1
          kind: PlacementRule
          metadata:
            name: placement-metrics-forwarder
            namespace: openshift-acm-policies
          spec:
            clusterConditions:
            - status: "True"
              type: ManagedClusterConditionAvailable
            clusterSelector:
              matchExpressions:
                - key: hypershift.open-cluster-management.io/management-cluster
                  operator: In
                  values:
                    - "true"
        - apiVersion: policy.open-cluster-management.io/v1
          kind: PlacementBinding
          metadata:
            name: binding-metrics-forwarder
            namespace: openshift-acm-policies
          placementRef:
            apiGroup: apps.open-cluster-management.io
            kind: PlacementRule
            name: placement-metrics-forwarder
          subjects:
            - apiGroup: policy.open-cluster-management.io
              kind: Policy
              name: metrics-forwarder
  - apiVersion: hive.openshift.io/v1
    kind: SelectorSyncSet
    metadata:
      name: dataplane-metrics-forwarder-hc-policy
    spec:
      clusterDeploymentSelector:
        matchLabels:
          ext-hypershift.openshift.io/cluster-type: service-cluster
      resourceApplyMode: Sync
      resources:
        - apiVersion: policy.open-cluster-management.io/v1
          kind: Policy
          metadata:
            annotations:
              policy.open-cluster-management.io/categories: CM Configuration Management
              policy.open-cluster-management.io/controls: CM-2 Baseline Configuration
              policy.open-cluster-management.io/standards: NIST SP 800-53
            name: metrics-forwarder-config
            namespace: openshift-acm-policies
          spec:
            disabled: false
            remediationAction: enforce
            policy-templates:
              - objectDefinition:
                  apiVersion: policy.open-cluster-management.io/v1
                  kind: ConfigurationPolicy
                  metadata:
                    name: metrics-forwarder-config
                  spec:
                    evaluationInterval:
                      compliant: 2h
                      noncompliant: 45s
                    object-templates:
                    - complianceType: MustHave
                      objectDefinition:
                        apiVersion: v1
                        kind: ConfigMap
                        metadata:
                          name: cluster-monitoring-config
                          namespace: openshift-monitoring
                        data:
                          config.yaml: |
                            enableUserWorkload: true
                            prometheusK8s:
                              externalLabels:
                                source: "DP"
                              replicas: 2
                              remoteWrite:
                                - url: https://metrics-forwarder.apps.{{ ( split "." (lookup "route.openshift.io/v1" "Route" "openshift-monitoring" "prometheus-k8s").spec.host )._2 }}.hypershift.local
                                  remoteTimeout: 30s
                                  writeRelabelConfigs:
                                  - sourceLabels: [__tmp_openshift_cluster_id__]
                                    targetLabel: _id
                                    action: replace
                                  - sourceLabels: [__name__]
                                    action: keep
                                  queueConfig:
                                    capacity: 10000
                                    maxShards: 500
                                    minShards: 1
                                    maxSamplesPerSend: 2000
                                    batchSendDeadline: 60s
                                    minBackoff: 30ms
                                    maxBackoff: 30s
                                  tlsConfig:
                                    insecureSkipVerify: true
                              nodeSelector:
                                node-role.kubernetes.io/worker: ""
                              tolerations:
                                - effect: NoSchedule
                                  key: node-role.kubernetes.io/worker
                                  operator: Exists
                              retention: 11d
                              retentionSize: 90GB
                              volumeClaimTemplate:
                                metadata:
                                  name: prometheus-data
                                spec:
                                  resources:
                                    requests:
                                      storage: 100Gi
                            alertmanagerMain:
                              nodeSelector:
                                node-role.kubernetes.io/worker: ""
                              tolerations:
                                - effect: NoSchedule
                                  key: node-role.kubernetes.io/worker
                                  operator: Exists
                              volumeClaimTemplate:
                                metadata:
                                  name: alertmanager-data
                                spec:
                                  resources:
                                    requests:
                                      storage: 10Gi
                            telemeterClient:
                              nodeSelector:
                                node-role.kubernetes.io/worker: ""
                              tolerations:
                                - effect: NoSchedule
                                  key: node-role.kubernetes.io/worker
                                  operator: Exists
                              telemeterServerURL: https://infogw.api.stage.openshift.com
                            prometheusOperator:
                              nodeSelector:
                                node-role.kubernetes.io/worker: ""
                              tolerations:
                                - effect: NoSchedule
                                  key: node-role.kubernetes.io/worker
                                  operator: Exists
                            k8sPrometheusAdapter:
                              nodeSelector:
                                node-role.kubernetes.io/worker: ""
                              tolerations:
                                - effect: NoSchedule
                                  key: node-role.kubernetes.io/worker
                                  operator: Exists
                            kubeStateMetrics:
                              nodeSelector:
                                node-role.kubernetes.io/worker: ""
                              tolerations:
                                - effect: NoSchedule
                                  key: node-role.kubernetes.io/worker
                                  operator: Exists
                            openshiftStateMetrics:
                              nodeSelector:
                                node-role.kubernetes.io/worker: ""
                              tolerations:
                                - effect: NoSchedule
                                  key: node-role.kubernetes.io/worker
                                  operator: Exists
                            thanosQuerier:
                              nodeSelector:
                                node-role.kubernetes.io/worker: ""
                              tolerations:
                                - effect: NoSchedule
                                  key: node-role.kubernetes.io/worker
                                  operator: Exist
        - apiVersion: apps.open-cluster-management.io/v1
          kind: PlacementRule
          metadata:
            name: placement-metrics-forwarder-config
            namespace: openshift-acm-policies
          spec:
            clusterConditions:
            - status: "True"
              type: ManagedClusterConditionAvailable
            clusterSelector:
              matchExpressions:
                - key: hypershift.open-cluster-management.io/hosted-cluster
                  operator: In
                  values:
                    - "true"
        - apiVersion: policy.open-cluster-management.io/v1
          kind: PlacementBinding
          metadata:
            name: binding-metrics-forwarder-config
            namespace: openshift-acm-policies
          placementRef:
            apiGroup: apps.open-cluster-management.io
            kind: PlacementRule
            name: placement-metrics-forwarder-config
          subjects:
            - apiGroup: policy.open-cluster-management.io
              kind: Policy
              name: metrics-forwarder-config
