apiVersion: v1
kind: Template
metadata:
  name: hypershift-dataplane-metrics-forwarder-template
parameters:
  - name: REGISTRY_IMG
    required: true
  - name: IMAGE_DIGEST
    required: true
  - name: TELEMETER_SERVER_URL
    required: true
objects: []
